<!DOCTYPE html>
<html>
<head>
    <title>Error Log</title>
    <meta http-equiv="refresh" content="60">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<form>
    <a href="http://127.0.0.1:9000/">TCC3 PORTAL</a>
    <a href=/index >»ØÊ×Ò³</a>
    <a href=/warninglog>WARNING LOG</a>
    <a href=/search>SEARCH LOG</a>
</form>

<ul>
    <% for(i=0; i< name.length; i++) {%>
    <li><a><%= name[i]%></a></li>
    <% } %>
</ul>

</body>
</html>