<!DOCTYPE html>
<html>
<head>
  <title>Collection Log System</title>
  <meta http-equiv="refresh" content="60">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div>
  <a href="http://127.0.0.1:9000/">TCC3 PORTAL</a>
  <a href=/errorlog>ERROR LOG</a>
  <a href=/warninglog>WARNING LOG</a>
  <a href=/search>SEARCH LOG</a>
</div>

<form action="/search" method="get" >
  <!--onsubmit="return checkForm(this)"-->
  <!--ËÑË÷-->
  <input type="text" name="searchContent" />
  <input type="datetime-local" name="dateContent1" />
  <input type="datetime-local" name="dateContent2" />
  <input type="submit" value="Submit" />
</form>

<ul>
    <% for(i=0; i< userlist.length; i++) {%>
  <li><a><%= userlist[i].logPath + "***" + userlist[i].logContent %></a></li>
    <% } %>
</ul>
</body>
</html>